<div>
<form id="myform">
	<table>


		<tr>
			<td>Apartment complex</td>
			<td><div id="complex" name="complex"></div></td>
		</tr>
		<tr>
			<td>Building No</td>
			<td><div id="building" name=building"></div></td>
		</tr>
		<tr>
			<td>Apartment No</td>
			<td><div id="apartment" name="apartment"></div></td>
		</tr>
		<!-- <tr>
<td>Ownership Type</td><td><div id="ownershipTypeSelect"></div></td>
</tr> -->
		<tr>
			<td>Utility Type</td>
			<td><div id="utilitytype" name="utilitytype"></div></td>
		</tr>
		<tr>
			<td>Subscribe Alerts:</td>
			<td><input id="emailAlert" name="emailAlert"
				data-dojo-type="dijit/form/CheckBox" value="agreed" 	 />
				<label for="emailAlert">Email </label><input id="smsAlert" name="smsAlert"
				data-dojo-type="dijit/form/CheckBox" value="agreed" 	 />
				<label for="smsAlert">SMS </label></td>
		</tr>
		<tr>
	</table>
	</form>
<div class="searchButtonColumn">
				<button id="RegisterBtn">Register</button>
			</div>

</div>
